# Options -Indexes

# redirect from satoso.net/diary/ to diary.satoso.net
#--- doesn't work correctly
# RewriteCond %{HTTP_HOST} ^satoso\.net
# RewriteRule ^(.*)$ http://diary.satoso.net/$1 [R,L]
#--- end
# Redirect temp /diary/ http://diary.satoso.net/

RewriteEngine On
# 2014.03.08 add - avoid the error on subdomain use (diary.satoso.net)
# RewriteBase /
# 2014.03.08 end

# www.diary.satoso.net -> diary.satoso.net
# RewriteCond %{HTTP_HOST} ^www\.diary\.satoso\.net
# RewriteRule ^(.*)$ http://diary.satoso.net/$1 [R=301,L]

# / -> /blosxom.cgi/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ blosxom\.cgi/$1 [L,QSA]

DirectoryIndex index.html blosxom.cgi .ht

Satisfy all
Order deny,allow
<Files "config.cgi">
deny from all
</Files>
