ul.concerts
  | {% for concert in site.data.concerts %}
  / 過去分だけ出力
  | {% unless concert.future %}
  li
    span.date
      | {{ concert.date | date:"%Y.%m.%d" }}
    |  {{ concert.name }} 
    span.place
      | @ {{ concert.place }}

  | {% endunless %}
  | {% endfor %}

  li 以下，整理中

