---
home: true
---
<div id="home">
  <img class="top" src="/assets/images/satoso-net-top.jpg">
  <section>
    <h1 class="site-desc"><a href="/about/">佐藤奏</a>のウェブサイト。</h1>
  </section>
  <section>
    <h2>出演予定</h2>
    <ul class="concerts">
      {% assign concerts = site.data.concerts | where:"future",true %}
      {% for concert in concerts %}
      <li><span class="date">{{ concert.date | date:"%Y.%m.%d" }}</span> {% if concert.link %}<a href="{{ concert.link }}" target="_blank">{{ concert.name }}</a>{% else %}{{ concert.name }}{% endif %}{% if concert.note %}（{{ concert.note }}）{% endif %}<span class="place"> @ {{ concert.place }}</span></li>
      {% endfor %}
    </ul>
  </section>
</div>
