---
home: true
---
<div id="home">
  <img class="top" src="/assets/satoso-net-top.jpg">
  <section>
    <p class="site-desc"><a href="/about/">佐藤奏</a>のウェブサイト。</p>
  </section>
  <section>
    <h2>出演予定</h2>
    <ul class="concerts">
      {% for concert in site.data.concerts %}
        {% if concert.future %}
        <li><span class="date">{{ concert.date | date:"%Y.%m.%d" }}</span> <a href="{{ concert.link }}" target="_blank">{{ concert.name }}</a><span class="place"> @ {{ concert.place }}</span></li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
</div>
