@charset "UTF-8";
/* Global Reset */
html, body, div, p, img, h1, h2, h3, h4, h5, h6, ul, ol, dl, dt, dd,
nav, header, footer, section, article {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  background-color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  /*  font-family: verdana, sans-serif;*/
}

.site {
  font-size: 96%;
  line-height: 1.5;
  /* text-align: justify; */
  width: 40em;
  max-width: 92%;
  margin: 3em auto 2em;
}

h1 {
  font-weight: bold;
  margin: 0 0 1em;
}

h2 {
  font-weight: bold;
  margin: 0 0 1em;
}

h3 {
  font-weight: bold;
  margin: 1em 0;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: #000;
}

a:visited {
  color: #a0a;
}

ul, ol {
  margin: 1em 0 1em 1.4em;
}

ul ul, ul ol,
ol ul, ol ol {
  margin: 0 0 0 1.4em;
}

span.timestamp {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
  margin-right: 0.8em;
}

em {
  font-weight: bold;
  font-style: normal;
}

strong {
  font-weight: bold;
  background-color: #fff3b8;
}

.no-wrap {
  white-space: nowrap;
  /* 途中で改行しない */
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#home .posts {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 2em;
}
#home .posts li {
  /*line-height: 1.75;*/
  margin: 0.6em 0;
  line-height: 1.1;
}
#home p.site-desc {
  margin-bottom: 1.4em;
}

/*****************************************************************************/
/*
/* Concerts
/*
/*****************************************************************************/
ul.concerts {
  /*.date,
    .title {
      font-weight: bold;
    }
    p.place,
    p.credit,
    p.note {
      margin: 0;
    }
    dfn {
      font-style: normal;
    }*/
}
ul.concerts .date {
  font-weight: bold;
}
ul.concerts .place {
  color: #999;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
header {
  margin-bottom: 1.2em;
}
header nav {
  display: inline-block;
}
header nav ul {
  margin: 0;
  padding: 0;
}
header nav ul li {
  margin: 0 0 0 0.6em;
  padding: 0;
  display: inline-block;
  font-weight: bold;
}
header a {
  /* font-weight: bold; */
  text-decoration: none;
}
header a.extra {
  color: #aaa;
}
header a.extra:hover {
  color: #000;
}

h1.title {
  display: inline-block;
  margin: 0;
  font-weight: bold;
  font-size: 104%;
}
h1.title a {
  color: #a00;
}
h1.title a:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

img.top {
  /*  margin-bottom: 1.2em;*/
}

.site img {
  max-width: 100%;
}

.profile-photo {
  float: right;
  width: 160px;
  margin-bottom: 12px;
  margin-left: 12px;
}

footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}
footer .contact {
  /*float: left;
    margin-right: 3em;*/
}
footer .contact a {
  color: #8085C1;
}
footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}
footer .rss img {
  border: 0;
}

address {
  font-style: normal;
  margin: 0.4em 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
.post {
  /* terminal */
}
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
  overflow-x: auto;
}
.post ul, .post ol {
  margin-left: 1.35em;
}
.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}
.post pre code {
  border: none;
}
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  overflow-x: auto;
}
.post pre.terminal code {
  background-color: #333;
}

@media screen and (max-width: 480px) {
  .site {
    margin-top: 1em;
  }

  span.timestamp {
    display: block;
    margin-right: 0;
  }
}
