---
layout: default
---
<section>
  {% assign entries = site.diary_entries | where_year_month: {{page.disp_year}}, {{page.disp_month}} | sort_desc: 'date' %}
  {% for entry in entries %}
    <article class="diary">
      <h3><a name="{{ entry.date | date:"%Y-%m-%d" }}" href="http://satoso.net/diary/{{ entry.date | date:"%Y/%m/#%Y-%m-%d" }}">{{ entry.date | date:"%Y.%m.%d %a" }}</a>{% if entry.title %} {{ entry.title }}{% endif %}</h3>
      <div class="article-body">
        {{ entry.content }}
      </div>
    </article>
  {% endfor %}
</section>
