<meta charset="utf-8">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<title>
{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
</title>
<meta name="author" content="SATŌ, Sō">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}">
<meta property="og:type" content="{% if page.og.type %}{{ page.og.type }}{% else %}website{% endif %}">
<meta property="og:url" content="{% if page.og.url %}{{ page.og.url }}{% else %}{{ site.url }}{{ page.url | replace:'index.html','' }}{% endif %}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:locale" content="ja_JP">
<meta property="og:site_name" content="{{ site.title }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{ site.twitter_username }}">
<meta name="twitter:creator" content="{{ site.twitter_username }}">
<meta name="twitter:domain" content="{{ site.domain }}">
<link rel="alternate" href="{{ site.feed_file }}" title="RSS" type="application/rss+xml">
<link rel="author" href="{{ site.googleplus_profile_url }}">
<link rel="stylesheet" href="/assets/normalize.css">
<link rel="stylesheet" href="/assets/main.css">
<link rel="stylesheet" href="/assets/syntax.css">
