---
layout: default
---
#post
  article
    h2
      | {{ page.title }}
    p.meta
      span.timestamp
        / {{ page.date | date_to_string }}
        | {{ page.date | date: "%Y-%m-%d %a" }}
    .post
      | {{ content }}
